<h1>Projects</h1>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Team Name</th>
      <th>Project Description</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
    <tr>
      <td><%= link_to(project.id, project_path(project)) %></td>
      <td><%= project.team_name %></td>
      <td><%= project.project_type.description %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to('Create a new project', new_project_path) %></p>